@import "tailwindcss";

*,html,body {
  box-sizing: border-box;
}

body {
  background: #fff;

  /* font-family: Arial, Helvetica, sans-serif; */
}


.object-positioning {
  object-position: 60% 40%;
}

@media (max-width: 600px) {
  .object-positioning {
    object-position: center;
  }
}

/* Change the color of the default chevron */
.swiper-button-next,
.swiper-button-prev {
  color: #c19127!important;
  /* width: 24px!important; */
}

/* #c19127 */