@import "tailwindcss";

*,html,body {
  box-sizing: border-box;
}

html,body {
  background: #fff;
  overflow-x:hidden!important;
  /* font-family: Arial, Helvetica, sans-serif; */
}


.works-hero{
  background-image: url(/images/h1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  position: relative;
  @apply z-10;
}
.works-hero::after {
  content: '';
  @apply w-full h-full absolute top-0 bg-[#1a1202] opacity-60 ;
}

.bg-overlay-openedmenu::after {
  content :'';
  position: absolute;
  @apply top-0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.25;
  z-index: 5;
  transition: background-color 0.45s ease;
}


.object-positioning {
  object-position: 60% 40%;
}

@media (max-width: 600px) {
  .object-positioning {
    object-position: center;
  }
}

/* Change the color of the default chevron */
.swiper-button-next,
.swiper-button-prev {
  color: #c19127!important;
  /* width: 24px!important; */
}

/* #c19127 */